.container {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 2rem 0;
}

.backgroundImage {
  background: url("../../../public/text-background.jpg") center/cover no-repeat
    fixed;
  //   /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textContainer {
  width: 40%;
  padding: 2rem;
  position: absolute;
  top: 200px;
  right: 100px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
