.container {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.textContainer {
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
