.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backgroundImage {
  background: url("../../../public/users-background.jpg") center/cover no-repeat
    fixed;
  //   /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imagesContainer {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
